.cursor-pointer {
    cursor: pointer;
}

.picture {
    height: 3rem;
    max-height: 3rem;
}

.free-shipping {
    color: green;
}

.buyer-data input, .bbg {
    border: 0;
    border-bottom: 1px solid gray;
}